$font-stack: "Open Sans", Arial, Helvetica, sans-serif;
$body-font: "Libre Baskerville";
$header-font: "Raleway", Arial, Helvetica, sans-serif;

$primary-h: 304;
$secondary-h: 64;
$tertiary-h: 184;
$l: 70%;
$l-dark: 50%;
$l-light: 80%;
$l-verylight: 98%;

$text-color-lightMode: rgba(0, 0, 0, 0.7);
$text-color-darkMode: rgba(255, 255, 255, 0.75);
$dark-grey: rgb(60, 60, 60);
$primary-hsl: hsl($primary-h, 85%, $l);
$primary-hsl-light: hsl($primary-h, 85%, $l-light);
$primary-hsl-bg: hsl($primary-h, 65%, 98%);
$primary-hsl-bg-darkMode: hsl(304, 5%, 25%);
$secondary-hsl: hsl($secondary-h, 85%, $l);
$secondary-hsl-light: hsl($secondary-h, 85%, $l-light);
$secondary-hsl-bg: hsl($secondary-h, 85%, 98%);
$tertiary-hsl: hsl($tertiary-h, 85%, $l);
$tertiary-hsl-dark: hsl($tertiary-h, 65%, $l-dark);
$tertiary-hsl-light: hsl($tertiary-h, 85%, $l-light);
$tertiary-hsl-bg: hsl($tertiary-h, 85%, 98%);

$dark-mode-transition: background-color 0.25s ease-in-out,
  color 0.25s ease-in-out;

$permanent-header-height: 45vh;
$little-header-height: 14.9vh;
$disappearing-header-height: 30vh;

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font: 100% $font-stack;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-image: url("../../static/diagonal-lines-25.svg");
}

.lightMode {
  color: $text-color-lightMode;
}

.darkMode {
  color: $text-color-darkMode;
  background-color: rgba(0, 0, 0, 0.7);
}

#page {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: $dark-mode-transition;
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: $header-font;
}

main {
  padding: 0 0 1vmin 0;
}

p {
  margin: 1vh 1vw;
}

.darkModeToggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  cursor: pointer;
  height: 50;
  width: 50;
  margin: 1em;
}

.darkMode a:visited {
  color: $tertiary-hsl;
}
.darkMode a {
  color: $primary-hsl;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  & h1 {
    text-decoration: $tertiary-hsl-dark underline;
    text-align: center;
    position: sticky;
    top: $little-header-height;
    z-index: 99;
    // background-color: $primary-hsl-bg;
    width: 100%;
    padding-bottom: 1vh;
  }
}

#header {
  height: $disappearing-header-height;
  color: rgba(255, 255, 255, 0.8);
  filter: drop-shadow(-1px 3px 3px rgba(255, 255, 255, 0.6));
  background-color: $dark-grey;

  & .header-background {
    position: absolute;
    width: 100%;
    z-index: -100;
  }

  & #header-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $header-font;
    & > * {
      animation: fadeIn 0.8s ease forwards;
      &:nth-child(1) {
        opacity: 0;
        animation-delay: 0.6s;
        & .dot {
          color: $primary-hsl;
        }
      }
      &:nth-child(2) {
        opacity: 0;
        animation-delay: 1.2s;
        & .dot {
          color: $secondary-hsl;
        }
      }
      &:nth-child(3) {
        opacity: 0;
        animation-delay: 1.8s;
        & .dot {
          color: $tertiary-hsl;
        }
      }
    }
  }
  & h1 {
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
}

#logo-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 30;
  & svg {
    height: 6rem;
    width: 6rem;
    & > * {
      animation: fadeIn 0.8s ease forwards;
    }
    & > *:nth-child(1) {
      opacity: 0;
      animation-delay: 0.6s;
      fill: $primary-hsl;
    }
    & > *:nth-child(2) {
      opacity: 0;
      animation-delay: 1.2s;
      fill: $secondary-hsl;
    }
    & > *:nth-child(3) {
      opacity: 0;
      animation-delay: 1.8s;
      fill: $tertiary-hsl;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lightMode header .header-background:nth-child(1) {
  background-color: $primary-hsl-bg;
}

.darkMode header .header-background:nth-child(1) {
  background-color: $primary-hsl-bg-darkMode;
}

header {
  position: sticky;
  top: -$disappearing-header-height;
  z-index: 999;
  height: $permanent-header-height;

  & .header-background {
    position: absolute;
    width: 100%;
    z-index: -100;

    &:nth-child(1) {
      z-index: 0;
      height: 100%;
      transition: $dark-mode-transition;
    }
    &:nth-child(2) {
      height: 100%;
      background-color: $primary-hsl;
      z-index: 10;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    &:nth-child(3) {
      height: 100%;
      background-color: $dark-grey;
      // pull it up a bit to give a peek of the different colour behind
      transform: translateY(-15px);
      z-index: 20;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
  }
  & h1 {
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
}

#contact {
  & #contact-addresses {
    display: flex;
    align-items: center;
    justify-content: center;

    & > :not(:first-child) {
      margin-left: 3vw;
    }
  }
  & img {
    height: 50px;
  }
}

#git {
  & img {
    height: 100px;
  }
}

.lightMode .appCard {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.06);
}

.darkMode .appCard {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.06);
}

.lightMode .appCard-surface {
  & > * {
    background-color: #ffffffcc;
  }
}

.darkMode .appCard-surface {
  & > * {
    background-color: #ffffff99;
    color: $text-color-lightMode;
  }
}

.appCard {
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  position: relative;
  transition: $dark-mode-transition;

  & .appCard-bg img {
    filter: blur(2.5px);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    max-height: 100%;
  }
  & .appCard-surface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vmin;
    height: 100%;

    & > * {
      padding: 1em;
      margin: 0 0 0.1em 0;
    }

    & .appCard-techs {
      display: flex;
      & > *:not(:first-child) {
        margin-left: 1vw;
      }
    }
  }

  &:visited {
    color: inherit;
  }
}

.appCarousel {
  position: relative;
  width: 90vw;
  max-width: 1000px;
  margin: auto;
  height: 300px;
  margin-bottom: 2em;
  overflow-x: hidden;
  & > * {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease;
  }
}

.lightMode .appCarousel-control {
  & button {
    background-color: rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.darkMode .appCarousel-control {
  & button {
    background-color: rgba(255, 255, 255, 0.3);
    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}

.appCarousel-control {
  display: flex;
  justify-content: center;
  transition: $dark-mode-transition;
  & button {
    border: none;
    height: 2vh;
    width: 3.6vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &.appCarousel-activeButton {
      background-color: $primary-hsl;
    }
  }
  & button:not(:first-child) {
    margin-left: 3vw;
  }
}
#about-me {
}

#headshot {
  height: 10vh;
  width: 10vh;
  border-radius: 100%;
  border: 3px solid $primary-hsl;
}

.appCard {
}

.tech-badge {
  max-height: 100%;
  background-color: $primary-hsl;
  padding: 0.5vmin;
  clip-path: polygon(50% 0%, 100% 20%, 80% 100%, 20% 100%, 0 20%);

  & > div {
    background: linear-gradient(to left, #fffffffa 50%, #ffffffbb 50%);
    clip-path: polygon(50% 0%, 100% 20%, 80% 100%, 20% 100%, 0 20%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img {
    height: 30px;
    width: 30px;
    margin: 1vmin;
  }
}

.inline-list {
  & li {
    list-style: none;
    display: inline-block;
    margin-left: 1vw;
    &:not(:last-child):after {
      content: ", ";
    }
  }
}

#skills {
  ul {
    margin-top: 0.2em;
  }
  li {
    margin-bottom: 0.2em;
  }
}
